<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/premk/IdeaProjects/mvn2">
        <classes>
            <class name="TestNG.TestNG">
                <methods>
                    <exclude name="print2"></exclude> <!--here we are excluding print2 method from TestNG class file-->
                </methods>
            </class>
        </classes></test></suite>